
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.tbClass {
    background:  #FFF;
    width:100%;
}
.tbClass>tr{
    padding:1em;
}
.tbClass td{ padding:1em;border:1px solid #ccc}
.tbClass span{display:block;}
